{% extends "base.html" %}
{% load static %}

{% if user.is_authenticated %}
{% block content %}
<div class="container">
    <h2>{{ user.username }}さんのマイページ</h2>

    <!-- サイト全体の見出し -->
    <div class="intro-container">
        <h3>「歌い方攻略マニュアル付き歌詞カード」作成アプリへようこそ！</h3>
        <p class="text-center">カラオケの採点画面みたいな注釈付き歌詞カードを作れるアプリです！</p>
        <p class="text-center">歌詞をコピペしたら、ワンクリックで全文をひらがなに変換！</p>
        <p class="text-center">マウスひとつで、1文字単位で書き込めます！</p>
    </div>

    <!-- ボタンと折り畳みメニューを横並びに配置 -->
    <div class="button-and-menu">
        <!-- 左側にボタンを配置 -->
        <div class="buttons">
            <a href="{% url 'lyrics_annotate' %}" class="btn btn-continue">前回の続きから始める</a>
            <a href="{% url 'accounts:return_lyrics_input_from_mypage' %}" class="btn btn-create" id="create-new-lyrics">新しい歌詞カードを作成</a>
            <p>
                <a href="{% url 'Term:term_list' %}" target="_blank" rel="noopener noreferrer" class="mypage-btn-custom">ボイトレ用語一覧</a>
            </p>
        </div>

        <!-- 右側に折り畳みメニューを配置 -->
        <div class="accordion-menu">
            <div class="card">
                <details>
                    <summary>"歌が上手くなるコツ"ってなんだと思いますか？</summary>
                    <p>私は自分が憧れる歌手、好きな歌手を徹底的にモノマネすることだと思っています。</p>
                </details>
            </div>
            <div class="card">
                <details>
                    <summary>歌声と絵の具は似てる</summary>
                    <p>持っている色が赤い絵の具だけだったら赤しか塗れません。</p>
                    <p>でも青も手に入れたら？そう、紫も塗れるようになります！</p>
                    <p>黄色の絵の具を手に入ればオレンジも緑も塗れるようになりますね！</p>
                    <p>しかも、混ぜる割合のさじ加減を変えるだけで使える色はさらに増えるわけです。</p>
                    <p>歌も同じです！ものまねの引き出しが増えれば増えるほど、表現に自由が利くようになるんです。</p>
                    <p>そうしてたくさん増やした末に、持って生まれた自分だけのオリジナルボイスと混ぜる、私はこれが極意だと思っています！</p>
                    <p>でも……。</p>
                </details>
            </div>
            <div class="card">
                <details>
                    <summary>聴き取れる情報の解像度が勝敗を分ける</summary>
                    <p>最近トレンドの歌って、素人に歌わせる気がないのでは…？と思うほどむずかしいですよね…。</p>
                    <p>すごいってことは分かるんだけど、レベルが高すぎて"どうすごいのか"がわからない…そんな経験はありませんか？</p>
                    <p>「憧れるあの人が使っている歌唱法」の存在を知らなければ、そもそもそこに意識を向けて聴かないから、情報の解像度が下がる→ものまねの質も落ちると負のスパイラルに…。</p>
                </details>
            </div>
            <div class="card">
                <details>
                    <summary>それが作った理由です</summary>
                    <p>あらかじめ用意された選択肢から選ぶ形式であなた自身が歌詞の注釈を付けられるアプリを作れば、ここでこう歌う！という対策付き歌詞カードを手に入れながら耳も養えて一石二鳥なのでは！？と思いこのWebアプリをを作りました！</p>
                    <p>マウスひとつで、1文字単位で注釈を書き込めます！</p>
                </details>
            </div>
        </div>
    </div>
</div>

<!-- スクリプトの追加 2024/8/26-->
<script>
document.addEventListener("DOMContentLoaded", function() {
    const createNewLyricsButton = document.getElementById('create-new-lyrics');
    if (createNewLyricsButton) {
        createNewLyricsButton.addEventListener('click', function() {
            localStorage.removeItem("annotationsData");  // ローカルストレージのデータを削除
            console.log("ローカルストレージのデータが削除されました");
        });
    }
});
</script>
{% endblock %}
{% else %}
<p>このページを表示するにはログインが必要です。</p>
{% endif %}
