{% extends "base.html" %}
{% load socialaccount %}

{% block content %}<!-- 2024/09/03 -->
<h2 style="text-align: center;">「歌い方攻略マニュアル付き歌詞カード」作成アプリへようこそ！</h2>
<div class="container">
    {% if not user.is_authenticated %}
        <p style="text-align: left; width: 100%;">
            マウスひとつで、歌唱テクニックを表す注釈画像や発声法を表すマーカーを書き込めるアプリです！
            歌詞をコピペすると全文をワンタッチでひらがなに変換！注釈を1文字単位で書き込めます！<br>
        </p>
        <!-- 新規登録とログインへのリンクボタン -->
        <div style="text-align: center;">
            <label for="signup-button" style="display: block; margin-bottom: 5px;">はじめての方</label>
            <a id="signup-button" href="{% url 'accounts:signup' %}" class="btn" style="text-align: center;">新規ユーザー登録</a>
        </div>
        <div style="text-align: center; margin-top: 15px;">
            <label for="login-button" style="display: block; margin-bottom: 5px;">既にアカウントをお持ちの方</label>
            <a id="login-button" href="{% url 'accounts:login' %}" class="btn" style="text-align: center;">ログイン</a>
        </div>
    {% else %}
        <p style="text-align: left; width: 100%;">
            マウスひとつで、歌唱テクニックを表す注釈画像や発声法を表すマーカーを書き込めるアプリです！
            歌詞をコピペすると全文をワンタッチでひらがなに変換！注釈を1文字単位で書き込めます！<br>
        </p>
        <!-- マイページへのリンクボタン -->
        <div style="margin-top: 15px;">
            <label for="mypage-button" style="text-align: center; display: block; margin-bottom: 5px;">あなたはログイン済みです！</label>
            <a id="mypage-button" href="{% url 'accounts:mypage' %}" class="btn" style="text-align: center;">マイページへ</a>
        </div>
    {% endif %}
</div>


<style>
.container {
    max-width: 500px;
    margin: 0 auto;
    padding: 10px 20px; /* 上下のパディングを増やして縦幅を調整 */
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.btn {
    display: inline-block;
    width: 250px;
    padding: 10px;
    margin: 3px 0;
    background-color: #00bfff;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #009acd;
}

/* レスポンシブ対応 */
@media (max-width: 600px) {
    .btn {
        width: 100%;
    }
}
</style>

{% endblock %}
