{% extends "base.html" %}
{% load static %}
{% load django_bootstrap5 %} 
{% bootstrap_css %}  <!-- BootstrapのCSSを読み込み -->
{% bootstrap_javascript %}  <!-- 必要ならBootstrapのJSも読み込み -->

{% block content %}
<div id="app" class="container">
    <div id="annotation-tools">
        <nav>
            <ul style="display: flex; justify-content: center; align-items: center; list-style: none; padding: 0;">
                <li style="margin-right: 15px;"><a href="{% url 'lyrics_input_return' %}">歌詞入力画面に戻る</a></li>
                <li style="margin-right: 15px;"><a href="{% url 'Term:term_list' %}" target="_blank" rel="noopener noreferrer">ボイトレ用語一覧</a></li>

            </ul>
        </nav>
        <button data-color="red" style="background-color: red;">強い地声</button>
        <button data-color="orange" style="background-color: orange;">地声寄りミックスボイス</button>
        <button data-color="yellow" style="background-color: rgb(255, 255, 0);">地声寄りヘッドボイス</button>
        <button data-color="rgb(255, 137, 157)" style="background-color: rgb(255, 137, 157);">優しい地声</button>
        <button data-color="peachpuff" style="background-color: rgb(255, 196, 144);">裏声寄りミックスボイス</button>
        <button data-color="rgb(0, 150, 255)" style="background-color: rgb(0, 150, 255);">裏声寄りヘッドボイス</button>
        <button data-color="skyblue" style="background-color: skyblue;">ファルセット</button>

    </div>
        <!-- 折り畳みメニューの追加 -->
        <div class="accordion-menu">
            <div class="card">
                <details>
                    <summary>使い方</summary>
                    <p>1. 反映されたひらがな歌詞の、注釈を追加したい任意の文をマウスでドラッグして選択してください。</p>
                    <p>2. 文字を選択した状態で右クリックするとメニューから注釈画像を選んで挿入できます。発声法についてマーカーで色分けしたい場合は、文章を選択した状態で上のボタン一覧から選択すればマーカーを引けます。</p>
                    <p>3. <strong style="color: red;">編集に役立つボタンは画面下部にあります。</strong>「ひとつ戻る」はひとつ前の状態、「次へ」はひとつ先の状態をそれぞれ復元します。「全てリセット」は文章を含めて全てがリセットされます。</p>
                    <p>4. 編集の進捗は「進捗をダウンロード」ボタンであなたの端末にファイルで保存できます。編集を続きから再開したい時は、「進捗をアップロード」ボタンでそのファイルをアップロードすれば、状態が復元されて編集を続きから再開できます。</p>
                    <p>5. 歌詞カードの完成品として保存したい時は「PDFでダウンロード」ボタンを押してダウンロードしてください。</p>
                    <p>6. 「状態を一時保存」ボタンを押せば、進捗がブラウザ上に一時的に保存され、次回再度このページを開いた際に復元されます。（※ただし永久保存ではないため、別のサイトを見てから再開する、程度の中断をする時にお使いください。）</p>
                    <p><strong style="color: red;">※注意※ 同じ文章にマーカーを二重にかぶせないでください。文章を上から塗りつぶした形でPDFが出力されてしまいます。もし重複した場合は「ひとつ戻る」ボタンなどでマーカーを取り消してください。</strong></p>
                </details>
            </div>
        </div>

    <div id="annotated-lyrics">{{ hiragana|safe }}</div>
        <!-- 新しいボタンとフォームの配置 -->
        <div class="top-controls-container">
            <div class="top-controls">
                <button onclick="undo()">ひとつ戻る</button>
                <button onclick="redo()">次へ</button>
                <button type="button" id="reset-button">全てリセット</button>
            </div>
    
            <div class="save-controls">
                <form method="post" id="save-form">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="title">曲名:</label>
                        <input type="text" id="title" name="title" value="{{ lyric.title }}" required>
                    </div>
    
                    <div class="form-group">
                        <label for="artist">アーティスト名:</label>
                        <input type="text" id="artist" name="artist" value="{{ lyric.artist }}" required>
                    </div>
    
                    <input type="hidden" name="lyric_id" id="lyric_id" value="{{ lyric.id }}">
                    <input type="hidden" name="hiragana_lyrics" id="hiragana_lyrics" value="{{ hiragana }}">
                    <input type="hidden" name="annotations" id="annotations-data">
    
                    <button type="submit" id="save-button">状態を一時保存</button>
                    <button type="button" id="save-to-file-button">進捗をダウンロード</button>
                    <input type="file" id="load-from-file-button" style="display:none;" />
                    <label for="load-from-file-button" class="btn-custom">進捗をアップロード</label>
                    <button id="export-pdf-button">PDFでダウンロード</button>
                </form>
            </div>
        </div>

<div id="context-menu" class="context-menu">
    <!-- コンテキストメニューの定義 -->
    <ul>
        <li data-image-path="{% static 'images/vibrato.png' %}">ビブラート</li>
        <li data-image-path="{% static 'images/tremolo.png' %}">こぶし</li>
        <li data-image-path="{% static 'images/bend_up.png' %}">しゃくり上げ</li>
        <li data-image-path="{% static 'images/bend_down.png' %}">フォール</li>
        <li data-image-path="{% static 'images/distortion.png' %}">がなり</li>
        <li data-image-path="{% static 'images/breathe.png' %}">ブレス</li>
        <li data-image-path="{% static 'images/crescendo.png' %}">クレッシェンド</li>
        <li data-image-path="{% static 'images/decrescendo.png' %}">デクレッシェンド</li>
    </ul>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">

    // Djangoテンプレートタグで生成したURLをJavaScript変数に格納
    const saveAnnotationsUrl = "{% url 'save_annotations' %}";
    const mypageUrl = "{% url 'mypage' %}";
</script>
{% endblock %}
